@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  @media screen and (max-width: 450px) {
     margin-left: 1.75rem;
  }
}

body {
  background-color: rgb(172, 136, 228);
  background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.TodoWrapper {
  background: #000000cc;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;

  @media screen and (max-width: 450px) {
    margin-right: 2.5rem;
  }

}

.TodoForm {
  width: 100%;

  @media screen and (max-width: 450px) {
    margin-right: 4rem;
    width: 250px;
    height: 100px;
  }
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid grey;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  background-color: #0000009f;
  color: #ffffff;

  @media screen and (max-width: 450px) {
    width: 150px;
    margin-right: 1rem;
  }
}

.todo-input::placeholder {
  color: #ffffff4d;
}

.todo-btn {
  background: #000000b7;
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
  
  @media screen and (max-width: 450px) {
       margin: 2rem -1rem;
  }
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0000009f;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  cursor: pointer;

  @media screen and (max-width: 450px) {
    margin-right: 2rem;
}
}

.fa-trash {
  margin-left: 0.75rem;
}

.completed {
  color: #c5aeff;
  text-decoration: line-through;
}

footer {
  position: absolute;
  text-align: center;
  justify-items: center;
  bottom: 0;
  height: 1rem;

  @media screen and (max-width: 450px) {
    margin-right: 3rem;
  }
}

footer p {
  color: #3e3b3b;
  margin-right: 9rem;
  width: 100%;
  font-weight: 550;
}
 